body {
    background-color: #d5e1ef
}

.container {
    background-color: #fffeff;
    width: 270px;
    height: 400px;
    border-radius: 20px;
}


@media screen and (max-width:414px) {
    .container {
        width: 230px;
        height: 350px;
        margin-top: 30%;
        margin-left: 50%;
        transform: translate(-50%);
    }

    

    .code {
        width: 190px;
        margin-top: 10%;
        margin-left: 50%;
        transform: translate(-50%);
        border-radius: 20px;

    }

    h1{
        font-size: 13px;
        position: absolute;
        top: 62%;
        left: 15%;
        text-align: center;
        
        


    }

    h2 {
        font-size: 13px;
        margin-top: 27%;
        text-align: center;
        color: rgb(155, 153, 153);
    }

    


}